p {
  font: bold 1em Arial, sans-serif;
}
.container {
  display: flex;
}
.menuButton {
  min-width: 100px;
  width: 100%;
  height: 3em;
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
.navBar {
  background-color: cadetblue;
}
.menuButton:hover {
  background-color: darkcyan;
  cursor: pointer;
}
@media screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
}
