p {
  font: bold 1em Arial, sans-serif;
}
.container {
  display: flex;
  justify-content: space-around;
}
.menuButton {
  min-width: 100px;
  width: 100%;
  height: 3em;
  color: whitesmoke;
  font: 1em Arial, sans-serif;
}
.navBar {
  flex-direction: row;
  background-color: cadetblue;
}
.menuTitle {
  padding: 14px;
  display: inline-block;
}
.menuTitle:hover {
  background-color: darkcyan;
  cursor: pointer;
}
@media screen and (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .menuTitle {
    height: 3em;
    width: 100%;
    padding: 0px;
  }
}
