@import 'constants.scss';

.container {
   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
}

.base-color {
    background-color: $selectedColor;
    color: white;
}

.box {
    font-size: x-small;
    border-radius: 2px;
    height: fit-content;
    padding: 5px;
    width: 50px;  
}

.box-font-color {
    color: lightgray;

}

.color-title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.color-preview {
    width: 1em;
    height: 1em;
    background-color: $selectedColor;
}

@for $i from 1 through 4 {
    .darken-#{$i} { background-color: darken($selectedColor, $i*5%)};
    .lighten-#{$i}{ background-color: lighten($selectedColor, $i*5%)};
}