body {
    margin:0px;
    padding:0px;
    display: flex;
    height: 100vh;
    flex-direction: column;

}

.grid-container {
    flex: 1;
    display: grid;
    background-color: darkcyan;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1px;
}

header {
    background-color: brown;
    height: 150px;
    padding: 25px;
    font-size: 150%;
}

.item {
    background-color: khaki;
    padding: 25px;
}

@media screen and (min-width: 451px) and (max-width:650px) {
 .grid-container {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
 }
 header {
     height: initial;
 }
}

@media screen and (max-width: 450px) {
    .grid-container {
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 1fr;
     }

     header {
         display: none;
     }
}